{% load bootstrap3 %}

<div class="modal fade" role="dialog" id="createTrashcan">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" action='{% url 'newcan' %}'>
                    {% csrf_token %}
                    {% bootstrap_form trashcan_form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-default">Create</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
