{% load bootstrap3 %}

<div class="modal fade" role="dialog" id="putTask">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" action='{% url 'put' %}'>
                    {% csrf_token %}
                    {% bootstrap_form put_form %}
                    <input type="hidden" name="trashcan_id" value="{{ current_trashcan.id }}"></input>
                    {% buttons %}
                    <button type="submit" class="btn btn-default">Put</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>

