{% extends 'trash/base.html' %}

{% block trash_content %}
<div class="full-screen">
    <div class="header navbar-default panel panel-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">rmt_remote</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'trashcan' %}">Trashcans</a></li>
                <li class="active"><a href="{% url 'task' %}">Tasks</a></li>
                <li><a href="" data-toggle="modal" data-target="#createTrashcan">Create trashcan</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="left panel panel-default list-group">
            {% for task in tasks %}
            <a class="list-group-item{% if task == current_task %} active{% endif %}" href="{% url 'task' task.task_id %}">{{ task }}</a>
            {% endfor %}
        </div>
        {% if current_task %}
        <div class="middle">
            <div class="info-panel panel panel-default">
                <table>
                    <tr>
                        <td valign="middle">
                            <h4>{{ current_task }}</h4>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="contents-panel panel panel-default">
                <table class="table">
                    <thead>
                        <th class="col-md-4">Status</th>
                        <th class="col-md-4">Target</th>
                        <th class="col-md-4">Error</th>
                    </thead>
                    <tbody>
                        {% for target in targets %}
                        <tr>
                            <td>{{ target.get_status_display }}</td>
                            <td>{{ target.target }}</td>
                            <td>{{ target.error }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% include 'trash/create_trashcan.html' %}
{% endblock %}
