{% extends 'trash/base.html' %}
{% load staticfiles %}

{% block trash_content %}
<div class="full-screen">
    <div class="header navbar-default panel panel-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">rmt_remote</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'trashcan' %}">Trashcans</a></li>
                <li><a href="{% url 'task' %}">Tasks</a></li>
                <li><a href="" data-toggle="modal" data-target="#createTrashcan">Create trashcan</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="left panel panel-default list-group">
            {% for trashcan in trashcans %}
            <a class="list-group-item{% if trashcan == current_trashcan %} active{% endif %}" href="{% url 'trashcan' trashcan.name %}">{{ trashcan }}</a>
            {% endfor %}
        </div>
        {% if current_trashcan %}
        <script>var currentTrashcanId = {{ current_trashcan.id }};</script>
        <div class="middle">
            <div class="info-panel panel panel-default">
                <table>
                    <tr>
                        <td align="left" width="80px"><img src="/static/trash/trashcan.png" height="60px"/></td>
                        <td valign="middle">
                            <h4>{{ current_trashcan }}</h4>
                            {{ current_trashcan.path }}
                        </td>
                        <td align="right">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#putTask">Put</button>
                                <button type="button" class="btn btn-default" id="eraseButton">
                                    Erase
                                </button>
                                <button type="button" class="btn btn-default" id="restoreButton">
                                    Restore
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="contents-panel panel panel-default">
                <table class="table" id="contentsTable">
                    <thead>
                        <th>ID</th>
                        <th>Path</th>
                        <th>Size</th>
                    </thead>
                    <tbody>
                        {% for item in current_trashcan.items %}
                        <tr class="clickable-row">
                            <td class="id-cell">{{ item.record_id }}</td>
                            <td>{{ item.path }}</td>
                            <td>{{ item.size|filesizeformat }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% include 'trash/create_trashcan.html' %}
{% include 'trash/put_task.html' %}
<script src="{% static 'trash/trashcan.js' %}"></script>
{% endblock %}
