.flex-container {
    display: flex;
    overflow: hidden;
}
.flex-container > * {
    flex: 0 0 auto;
    overflow: auto;
}
.stretchy {
    flex: 1 1 auto;
}
.column {
    flex-direction: column;
}
html, body, .full-screen {
    height: 100%;
}
body {
    margin: 0;
}
.full-screen {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 5px;
    background: gray;
}
.full-screen > * {
    flex: 0 0 auto;
    overflow: auto;
}
.full-screen > .header {
    margin: 5px;
}
.full-screen > .main {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
}
.full-screen > .main > * {
    flex: 0 0 auto;
    overflow: hidden;
}
.full-screen > .main > .left {
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 5px;
}
.full-screen > .main > .middle {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.full-screen > .main > .middle > .info-panel {
    height: 80px;
    flex: 0 0 auto;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
}
.full-screen > .main > .middle > .contents-panel {
    flex: 1 1 auto;
    margin: 5px;
    overflow: auto;
}
.info-panel > table {
    width: 100%;
}
.full-screen > .form-pane {
    width: 300px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
